<div class="col-6 border border-dark">

  <div class="mb-4">
    <%= link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>
  
  <%=form_with model: Tweet.new, url: tweets_path, method: :post, local: true, class: "w-100" do |f| %>
    <%= f.text_area :body, placeholder: "What's happening", class: "form-control tweet-input w-100 mb-4" %>
    <div class="d-flex justify-content-end">
      <%= f.submit "Tweet", class: "btn btn-lg btn-twitter rounded-pill" %>
    </div>
  <% end %>

  <ul>
    <% Tweet.find_each do |tweet| %>
      <li><%= tweet.body %></li>
    <% end %>
  </ul>
</div>
    
<div class="col">
  This is the Third column
</div>
