<%= turbo_frame_tag "profile-section" do %>
 
  <div class="d-flex justify-content-between align-items-center">
    <% if @user.avatar.present? %>
      <%= image_tag @user.avatar, size: "150x150", class: "rounded-circle" %>
    <% else %>
      <%= image_tag "person.png", size: "150x150", class: "rounded-circle" %>
    <% end %>
    <div>
    <% if controller_name == "profile" %>
      <%= button_tag "Edit Profile", class: "btn btn-twitter-outline rounded-pill", data: { "bs-toggle": "modal", "bs-target": "#profile-edit-modal"} %>
    <% else %>
      <%= render "users/follow_button", user: @user, current_user: current_user %> # Specifies 'user' in route to signal the controller user instead of profile
    <% end %>
    </div> 
  </div>
  <div class="ms-3">
    <p class="fs-3 fw-semibold"><%= user.display_name %><p>
    <p class="text-muted">@<%= user.username %><p>
    <p class="text-muted"><%= current_user.bio %><p>
    <div class="d-flex justify-content-start mb-3">
      <div class="me-3">
        <span><%= image_tag "location.png", size: "20x20", class: "me-2" %></span>
        <span class="text-muted"><%= link_to user.location %></span>
      </div>
      <div class="me-3">
        <span><%= image_tag "link.png", size: "30x20", class: "me-2" %></span>
        <span class="text-muted"><%= link_to user.profile_url, user.profile_url, target: :_blank %></span>
      </div>
      <div class="me-3">
        <span><%= image_tag "calendar.png", size: "20x20", class: "me-2" %></span>
        <span class="text-muted">Joined <%= link_to user.created_at.strftime("%b %Y") %></span>
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <div class="me-4" ><span class="fw-semibold"><%= user.following_count %></span>Following</div>
      <div><span class="fw-semibold"><%= user.follower_count %></span>Followers</div>
    </div>
  </div>
<% end %>
