<div class="px-5 py-5">
  
  <div class="col-5 border boder-dark">

    <h2 class="mx-5 my-3"> Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mx-5 my-3">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="mx-5 my-3">
        <%= f.submit "Send me reset password instructions", class: "btn btn-twitter rounded-pill" %>
      </div>
    <% end %>
    
    <div class="mx-5 my-3">
      <%= render "devise/shared/links" %>
    <div class="mx-5 my-3">
  </div>
</div>
