<aside class="col-3 side-navbar">
  <%= link_to dashboard_path, class: "d-flex align-items-center mb-2" do %>
    <div class="px-2 py-2 rounded-circle">
      <span class="me-4 position-relative" style="bottom: 5px"><%= image_tag "twitter_icon.png", width: "32" %></span>
    </div>
  <% end %>
  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-2 #{nav_link_active?('dashboard')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 5px"><%= image_tag "home.png", width: "32" %></span>
      Home
    </div>
  <% end %>
  <%= link_to hashtags_path, class: "d-flex align-items-center fs-5 mb-2 #(nav_link_active?('hashtags'))" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 5px"><%= image_tag "hash.png", width: "32" %></span>
      Explore
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-2" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 5px"><%= image_tag "bell.png", width: "32" %></span>
      Notifications
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-2" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 5px"><%= image_tag "envelope.png", width: "32" %></span>
      Messages
    </div>
  <% end %>
  <%= link_to bookmarks_path, class: "d-flex align-items-center fs-5 mb-2 #{nav_link_active?('bookmarks')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 5px"><%= image_tag "bookmark.png", width: "32", height: "32" %></span>
      Bookmarks
    </div>
  <% end %>
  <%= link_to profile_path, class: "d-flex align-items-center fs-5 mb-2 #{nav_link_active?('profile')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 5px"><%= image_tag "user.png", width: "32" %></span>
      Profile
    </div>
  <% end %>
  <div class="d-flex align-items-center fs-5 mb-3"> 
      <%= button_tag "Tweet", class: "btn btn-lg btn-twitter rounded-pill w-100 mx-4", data: { "bs-toggle": "modal", "bs-target": "#tweetModal"} %>
    <!-- Line 44: instead of how it is called in bootstrap docs: data-bs-toggle="modal" data-bs-target="#exampleModal" -->
  </div>
  <div class="d-flex align-items-center fs-5 mb-3"> 
    <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete}, class: "twitter-link" %>
  </div>
</aside>

<!-- Tweet form modal -->
<div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close-modal-btn btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "shared/tweet_form", form_submit_path: tweets_path, button_label: "Tweet" %>
      </div>
    </div>
  </div>
</div>
