<%= turbo_frame_tag "profile-section" do %>
  <div class="ms-3">
    <p class="fs-3 fw-semibold"><%= current_user.display_name %><p>
    <p class="text-muted">@<%= current_user.username %><p>
    <p class="text-muted"><%= current_user.bio %><p>
    <div class="d-flex justify-content-start mb-3">
      <div class="me-3">
        <span><%= image_tag "location.png", size: "20x20", class: "me-2" %></span>
        <span class="text-muted"><%= link_to current_user.location %></span>
      </div>
      <div class="me-3">
        <span><%= image_tag "link.png", size: "30x20", class: "me-2" %></span>
        <span class="text-muted"><%= link_to current_user.url, current_user.url, target: :_blank %></span>
      </div>
      <div class="me-3">
        <span><%= image_tag "calendar.png", size: "20x20", class: "me-2" %></span>
        <span class="text-muted">Joined <%= link_to current_user.created_at.strftime("%b %Y") %></span>
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <div class="me-4" ><span class="fw-semibold">23</span>Following</div>
      <div><span class="fw-semibold">35</span>Followers</div>
    </div>
  </div>
<% end %>
