<div class="col-6 border border-dark">

    <div class="ms-3 me-3">
      <div>
        <%= link_to :back, class: "fs-4 text-decoration-none txt-black fw-semibold" do %>
          <%= image_tag "back-arrow.png", size: "30x30", class: "me-5" %>
          <span style="position: relative; top: 2px"><%= current_user.username %></span>
          <span style="position-relative top: 2px;" class="text-muted fs-5"><%= current_user.tweets.size %> Tweets</span>
        <% end %>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar, size: "150x150", class: "rounded-circle" %>
        <% else %>
          <%= image_tag "person.png", size: "150x150", class: "rounded-circle" %>
        <% end %>
        <div>
          <%= button_tag "Edit Profile", class: "btn btn-twitter-outline rounded-pill", data: { "bs-toggle": "modal", "bs-target": "#profile-edit-modal"} %>
        </div> 
      </div>
      <div>
          <p class="fs-3 fw-semibold"><%= current_user.display_name %><p>
          <p class="text-muted">@<%= current_user.username %><p>
          <p class="text-muted"><%= current_user.bio %><p>
          <div class="d-flex justify-content-start mb-3">
            <div class="me-4">
              <span><%= image_tag "location.png", size: "20x20", class: "me-2" %></span>
              <span class="text-muted">Location</span>
              </div>
            <div class="me-4">
              <span><%= image_tag "link.png", size: "30x20", class: "me-2" %></span>
              <span class="text-muted">URL</span>
            </div>
            <div class="">
              <span><%= image_tag "calendar.png", size: "20x20", class: "me-2" %></span>
              <span class="text-muted">Join Date</span>
            </div>
          </div>
          <div class="d-flex justify-content-start">
            <div class="me-4" ><span class="fw-semibold">23</span>Following</div>
            <div><span class="fw-semibold">35</span>Followers</div>
          </div>
      </div>
    </div>
</div>

<div class="col-3 border border-danger">
  <h4 class="text-danger ms-3">This is the Show third column</h4>
</div>

<!-- Tweet form modal -->
<div class="modal fade" id="profile-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close m-0" id="close-modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Profile Edit Modal</h3>
      </div>
      <%= form_with model: current_user, url: profile_path, method: :put do |f| %>
        <div class="form-group">
          <%= f.label :username, class: "form-label" %>
          <%= f.text_field :username, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :display_name, class: "form-label" %>
          <%= f.text_field :display_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :bio, class: "form-label" %>
          <%= f.text_field :bio, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :location, class: "form-label" %>
          <%= f.text_field :location, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :url, class: "form-label" %>
          <%= f.text_field :url, class: "form-control" %>
        </div>
        <%= f.submit "Update Profile", class: "btn btn-twitter rounded-pill" %>
      <% end %>
    </div>
  </div>
</div>